<nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
    <h4>GIT USERS HUB</h4>
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <div class="menu">   
              <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> 
              <!-- <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>  -->
              <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
              <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>   
        </div>       
      </div>
    </div>
  </nav>