
<nav class="navbar">
    <h4>GIT USERS HUB</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="menu" id="menu">   
      <span><a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a> </span>
      <span><a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> </span>
      <span><a href="#"><i class="fa fa-fw fa-user"></i> Login</a> </span> 
    </div>       
</nav>