<div class="main">
    <app-nav></app-nav>
    <app-profile></app-profile>
    <div class="logo">
        <img src="../assets/gitappalog.png" alt="" width="500px" height="500px">
    </div>
</div>
<!-- <div class="main">
    <app-nav></app-nav>
<ng-container
  *ngIf="loggedOut; then loggedIn">
</ng-container>

<ng-template #loggedIn>
    <div class="logo">
        <img src="../assets/gitappalog.png" alt="" width="500px" height="500px">
    </div>
</ng-template>
<ng-template #loggedOut>
  <div>
    <app-profile></app-profile>
  </div>
</ng-template>
</div> -->