.main{
    background-image: url('./../assets/gitappalog.png');
    background-color: cadetblue;
    height: 680px;
    margin: 20px;
    padding: 20px;
    background-position-x: 300px;
    background-position-y: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
    position: relative;
    min-height: 100% !important;
    
}