.main{
    background-image: url('./../assets/pinterest_profile_image.png');
    background-color: cadetblue;
    height: 1500px;
    margin: 20px;
    padding: 20px;
    background-position-x: 500px;
    background-position-y: 300px;
    background-repeat: no-repeat;
    align-content: center;
    
}