.badges span{
    margin-left: 5px;
}
.search-form{
    padding-top: 3px;
}
.scroll{
    overflow-y: scroll;
    max-height: 200px;
    
}
.card{
    max-height: 1200px;
    background: radial-gradient(circle, rgba(238,174,202,1) 17%, rgba(148,187,233,1) 100%);
    font-family: 'Playfair Display', serif;
    
}
#search-btn{
   
    float: none;
}
.list-group ul  {
   list-style-type: none;
}
.card-body{
    max-height: 300px;
}
.form-group{
    display: flex;
  }