.badges span{
    margin-left: 5px;
}
.search-form{
    padding-top: 20px;
}
.scroll{
    overflow-y: scroll;
    max-height: 200px;
    
}
.card{
    max-height: 1200px;
    background-color: darkkhaki;
}